#wrapper {
    border: 1px solid black;
}
h1 {
    text-align: center;
}
.nav {
    
    
    
}

ul {
     list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    border-color: solid 2px red;
    color: red;
    flex-direction: row;
   
}
#cvPic {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
img {
    width: 80%;
    
}